.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1rem;
  justify-content: center;
  margin-top: calc(var(--nav-height) + 1rem);
  text-align: center;
}

.label {
  margin: 0.5em 0;
  font-size: 1em;
}

.select {
  background-color: var(--light-shade);
  color: var(--dark-accent);
  font-size: 0.8em;
  margin: 0.2em 0 0 0;
  padding: 0.2em;
}

.input {
  font-size: 0.8em;
  margin: 0.2em 0 0 0;
}

.canvas {
  margin: 1em 0;
}

.btn {
  appearance: none;
  background: var(--dark-accent);
  border-radius: 0.2em;
  border: none;
  color: var(--light-shade);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  margin: 0 0 1em 0;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.btn:hover,
.btn:focus {
  background: var(--light-accent);
}

.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
