.stickyTop {
  height: 2em;
  left: 0;
  position: fixed;
  right: 0;
  top: var(--nav-height);
}

.underSticky {
  display: flex;
  padding-top: calc(var(--nav-height) + 2em);
}

.main {
  flex: 1 1 75%;
}

.sidebar {
  flex: 0 0 25%;
}
